<!--
Generated template for the MoveFormPage page.
See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{move && move.name}} / {{move && move.id}}</ion-title>
  <ion-buttons end>
      <button ion-button icon-only item-end (click)="lee_form()">
        <ion-icon name="megaphone"></ion-icon>
      </button>
      <button ion-button icon-only item-end (click)="change_escuchando()">
        <ion-icon *ngIf="escuchando" name="mic"></ion-icon>
        <ion-icon *ngIf="!escuchando" name="mic-off"></ion-icon>
      </button>
      <button ion-button icon-only item-end (click)="change_hide_scan_form()" color="primary">
        <ion-icon name="barcode"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content padding>
    <!--button ion-button class="w100" *ngIf="op_ready" (click)= "validar()">Validar</button-->
    
    
  <ion-item no-lines>
    <button class="w50" padding ion-button icon-only item-start (click)="presentOptions()">
      <ion-icon name="options"></ion-icon>
    </button>
    <button class="w50" padding ion-button icon-only item-start  [color]="op_ready ? 'done' : 'warning'" (click)="op_ready && lee_form()">
      <ion-icon *ngIf="op_ready" name="checkmark-circle"></ion-icon>  
      <ion-icon *ngIf="!op_ready" name="close-circle"></ion-icon>
    </button>
  </ion-item>

  
  <div *ngIf="!cargar && move">
    <!--ion-avatar *ngIf="move.product_id" class="w33" style="margin:auto" ><img class="w100" src="data:image/png;base64,{{move.product_id.image}}"></ion-avatar--> 
    <ion-item>
      <button *ngIf="move.product_id" class="w100 centrado" [outline] = "!move.checked.product_id"  ion-button item-end round color="product" (click)="click('product_id')">
        <ion-icon  name='ribbon' ></ion-icon>{{ move.product_id && move.product_id.name || 'Sin paquete' }}
      </button>
    </ion-item>
    
      
    <ion-item  *ngIf="move.package_id || (move.tracking!='none' || move.lot_id)">
      <button ion-button *ngIf="move.package_id" [outline] = "!move.checked.package_id"  item-end round color="package" class="centrado" (click)="click('package_id')">
        <ion-icon name='logo-dropbox'></ion-icon>
        {{ move.package_id && move.package_id.name || 'Sin paquete' }}
      </button> 
      <button ion-button *ngIf="!move.package_id" [outline] = "!move.checked.package_id"  item-end round color="package"  class="centrado" (click)="agregar('package')">
        <ion-icon name='logo-dropbox'></ion-icon>
        {{ 'Agregar paquete' }}
      </button>
      <button *ngIf="move.lot_id" class="centrado"  class="centrado" ion-button [outline] = "!move.checked.lot_id" item-end round style="{'background-color': white }" [color]="!move.lot_id && move.tracking!='none' ? 'danger' : 'lot'" (click)="click('lot_id')">
        <ion-icon name='barcode'></ion-icon> {{move.lot_id && move.lot_id.name || 'Sin lote' }}
      </button>
      <button *ngIf="!move.lot_id && move.tracking=='serial'" class="centrado" ion-button [outline] = "!move.checked.lot_id" item-end round style="{'background-color': white }" [color]="!move.lot_id && move.tracking!='none' ? 'danger' : 'lot'" (click)="agregar('serial')">
        <ion-icon name='barcode'></ion-icon>
          {{'Agregar serie' }}
      </button>
      <button *ngIf="!move.lot_id && move.tracking=='lot'" class="centrado"  ion-button [outline] = "!move.checked.lot_id" item-end round style="{'background-color': white }" [color]="!move.lot_id && move.tracking!='none' ? 'danger' : 'lot'" (click)="agregar('lot')">
        <ion-icon name='barcode'></ion-icon>
          {{'Agregar lote' }}
      </button>
    </ion-item>
      

    <ion-item *ngIf="move.location_id"> 
      <button ion-button [outline] = "!move.checked.location_id" item-end round  style="{'background-color': white }" (click)="click('location_id')">
        <ion-icon name='log-out'></ion-icon> 
        {{move.location_id && move.location_id.name || 'Sin origen' }}
      </button>
      <button *ngIf="move.checked.location_id" ion-button [outline] = "!move.checked.location_dest_id" item-end round  style="{'background-color': white }" (click)="click('location_dest_id')">
        <ion-icon name='log-in'></ion-icon>
        {{move.location_dest_id && move.location_dest_id.name || 'Sin destino' }}
      </button>
    </ion-item>

  

    <ion-list>
      <ion-item *ngIf="last_scan.type== 'serial'">
        <button padding ion-button color="odoo" class="centrado" (click)="confirm_lots()">
          <ion-icon *ngIf="new_lot" name="checkmark-circle"></ion-icon>  
          <ion-icon *ngIf="!new_lot" name="add-circle"></ion-icon>  
          {{new_lot.length}} de {{move.product_uom_qty }} Nºs de serie
        </button>
      </ion-item>
      <ion-item *ngIf="last_scan.type== 'lot'">
        <button padding ion-button color="odoo" class="centrado" (click)="confirm_lots()">
          <ion-icon *ngIf="new_lot" name="checkmark-circle"></ion-icon>  
          <ion-icon *ngIf="!new_lot" name="add-circle"></ion-icon>  
          {{new_lot.length}} de {{move.product_uom_qty }} Nºs de serie
        </button>
      </ion-item>
    </ion-list>
    
    <ion-scroll *ngIf="last_scan.type== 'serial'" scrollY="true" style="height: 200px">
      <ion-list >
          <ion-badge  color="lot" class ="w50 centrado" style="display: block" *ngFor="let lot of this.new_lot">{{lot.name}}</ion-badge>
      </ion-list>
       
    </ion-scroll>
    <ion-scroll *ngIf="last_scan.type== 'lot'" scrollY="true" style="height: 200px">
      <ion-list>
        <ion-item *ngFor="let lot of this.new_lot">
          <ion-label class="w50" color="lot">{{lot.name}}</ion-label>
          <ion-input  item-end [(ngModel)]="lot.qty" placeholder="{{lot.qty}} {{move.product_uom_id.name}}"></ion-input>
          <ion-badge  color="lot" class ="w50 centrado" >{{lot.name}}</ion-badge>
          <ion-badge  color="lot" class ="w50 centrado" >{{lot.qty}} {{move.product_uom_id.name}} </ion-badge>
        </ion-item>
      </ion-list>
    </ion-scroll>
    
  </div>
  
</ion-content>

<ion-footer>
  <form [formGroup]="ScanReader" class ="alignBottom" *ngIf="hide_scan_form">
    <ion-item>
      <ion-label color="primary" item-start>Scan: </ion-label>
      <ion-input #scan [formControl]="ScanReader.controls['scan']" type="text" name="scan" placeholder = "Scan" ></ion-input>
      <button ion-button icon-only item-end clear (click)="submitScan()">
        <ion-icon name="barcode"></ion-icon>
      </button>
    </ion-item>   
  </form>
</ion-footer>
