<!--
  Generated template for the MoveFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{move && move.name}} / {{move && move.id}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<button class="w100" padding ion-button block (click)="presentOptions()">
    OPCIONES
</button>
<h2>H2 Op ready: {{ op_ready }} </h2>
<h1>H1 Cargar: {{cargar}}</h1>
<h3 color="odoo">N3 Movimeinto {{move && move.name}}</h3>
<div *ngIf="!cargar && move">
<ion-list>
  <ion-list-header>
    Movimiento:
  </ion-list-header>
  <ion-item>
    <ion-avatar item-start>
      <img src="data:image/png;base64,{{move.product_id.image}}">
    </ion-avatar>
    <h2>{{move.product_id && move.product_id.name}}</h2>
    <h3>{{move.lot_id && move.lot_id.name || 'Sin lote' }} // {{ move.package_id && move.package_id.name || 'Sin paquete' }}</h3>
    <p>Pendiente de cantidades</p>
    <button ion-button clear item-end>View</button>
  
    <ion-item-options side="left">
      <button ion-button color="odooprimary">
        <ion-icon name="text"></ion-icon>
        Text
      </button>
      <button ion-button color="warning">
        <ion-icon name="call"></ion-icon>
        Call
      </button>
    </ion-item-options>
    <ion-item-options side="right">
      <button ion-button color="primary">
        <ion-icon name="mail"></ion-icon>
        Email
      </button>
    </ion-item-options>
  </ion-item>
</ion-list>
No carga y hay movimiento
</div>
<div *ngIf="cargar || !move">
Carga o no hay movimiento
</div>
</ion-content>
<ion-footer>
  <form [formGroup]="ScanReader" class ="alignBottom" *ngIf="hide_scan_form">
    <ion-item>
      <ion-label color="primary" item-start>Scan: </ion-label>
      <ion-input #scan [formControl]="ScanReader.controls['scan']" type="text" name="scan" placeholder = "Scan" ></ion-input>
    
      <button ion-button icon-only item-end clear (click)="submitScan()">
        <ion-icon name="barcode"></ion-icon>
      </button>
    </ion-item>   
  </form>
</ion-footer>