<!--
  Generated template for the PickingFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{stock_picking_id && stock_picking_id['name'] || 'Albarán' }}</ion-title>
  <ion-buttons end>
  <button ion-button icon-only item-end (click)="lee_form()">
    <ion-icon name="megaphone"></ion-icon>
  </button>
  <button ion-button icon-only item-end (click)="change_escuchando()">
    <ion-icon *ngIf="escuchando" name="mic"></ion-icon>
    <ion-icon *ngIf="!escuchando" name="mic-off"></ion-icon>
  </button>
    
    <button ion-button icon-only item-end (click)="toggle_scan_form()" color="primary">
    <ion-icon name="barcode"></ion-icon>
  </button>
  </ion-buttons>
</ion-navbar>
   
</ion-header>

<ion-content padding>
  <div>
    <ion-item no-lines>
        <button padding ion-button item-start (click)="open_pick(-1)">
          Anterior
        </button>
        <button ion-button item-start (click)="backToPickingList()">
          Volver
        </button>

        <button padding ion-button item-end (click)="open_pick(1)">
          Siguiente
        </button>
        <button ion-button icon-only item-end (click)="this.view_form = !this.view_form">
            <ion-icon name="clipboard"></ion-icon>
        </button>
      </ion-item>
  </div>
  <div *ngIf="view_form && !cargar && stock_picking_id">
    <div>
      <ion-item no-lines *ngIf="(((stock_picking_id['state'] != 'done' && stock_picking_id['move_done_count'] > 0)) || stock_picking_id['state'] == 'confirmed')" >
        <button *ngIf="stock_picking_id['state'] != 'done' && stock_picking_id['move_done_count'] > 0.00" color='odoo' padding ion-button item-end (click)="validate_pick(stock_picking_id)">
          Validar
        </button>
        <button  *ngIf="stock_picking_id['state'] == 'confirmed'" padding ion-button item-end (click)="reserve_pick()">
          Reservar
        </button>
        <button  *ngIf="stock_picking_id['state'] == 'confirmed' && !stock_picking_id['user_id']" padding ion-button item-end (click)="assign_pick()">
          Asignar
        </button>
      </ion-item>
    </div>  
    <div>
      <ion-grid>
        <ion-row>
          <ion-col text-end>{{stockInfo.STOCK_STATES[stock_picking_id['state']]}}</ion-col>
        </ion-row>
        <ion-row>
          
          <ion-col text-end>
          <ion-icon name="calendar"></ion-icon>
            {{ stock_picking_id['scheduled_date']}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-end>
          <ion-icon name="log-out"></ion-icon>
            {{ stock_picking_id['location_id'] && stock_picking_id['location_id'][1]}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-end>
            <ion-icon name="log-in"></ion-icon>
            {{ stock_picking_id['location_id'] && stock_picking_id['location_dest_id'][1]}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <div *ngIf="!cargar && stock_picking_id" >
    <ion-grid >
      <ion-row>
        <ion-col >
        <ion-icon name="document"></ion-icon>
          {{ stock_picking_id['origin'] }}
        </ion-col>
        <ion-col text-end>
          {{ stock_picking_id['move_done_count']}} de {{ stock_picking_id['move_count']}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

<div *ngIf="!cargar && view_tree && stock_picking_id && stock_picking_id['move_count']">
  <ion-grid *ngFor="let move of stock_picking_id['moves']; let i = index">
    <ion-row text-end>
      <ion-col color='odoo' text-start *ngIf="stock_picking_id['state'] != 'done'">
        <a (click)="verificar_qty(move['id'])">
          {{ move['package_id'] && move['package_id'][1] || move['product_id'] && move['product_id'][1]}}
        </a>
      </ion-col>
      <ion-col color='odoo' text-start *ngIf="stock_picking_id['state'] == 'done'">
            {{ move['package_id'] && move['package_id'][1] || move['product_id'] && move['product_id'][1]}}
        </ion-col>
      <ion-col text-end *ngIf="!move['move_line_ids']" >
        <ion-badge (click)="open_form_move_line (move['model'], move['id'], i)" *ngIf="move['state'] != 'done' && stock_picking_id['picking_type_id'][2]"  color="odoo">
          {{ move['qty_done']}} de {{ move['product_uom_qty']}} {{move['product_uom'] && move['product_uom'][1]}}
        </ion-badge>
        <ion-badge *ngIf="move['state'] == 'done'" color="state_done">
          {{ move['product_uom_qty']}} {{move['product_uom'] &&   move['product_uom'][1]}}
        </ion-badge>
      </ion-col>
      
    </ion-row>
      <!-- <ion-row>
        <ion-col>
            Info: {{move_model }} {{move['state']}}
        </ion-col>
      </ion-row> -->

      <ion-row *ngFor="let move_line of move['move_line_ids']" (click)="open_form_move (move_line['model'], move_line['id'])">
          <ion-col *ngIf="move_line['lot_id']">
            LOT:  {{move_line['lot_id'][1]}} 
          </ion-col>
          <ion-col >
            TRACK:  {{move_line['has_tracking']}} 
          </ion-col>
          <ion-col text-end>
            <ion-badge *ngIf="move_line['state'] != 'done'"  color="odoo">
            QTY:  {{ move_line['qty_done']}} de {{ move_line['reserved_availability']}} {{move['product_uom'] &&  move['product_uom'][1]}}
            </ion-badge>
            <ion-badge *ngIf="move_line['state'] == 'done'" color="state_done">
            QTY:   {{ move_line['qty_done']}} {{move['product_uom'] && move['product_uom'][1]}}
            </ion-badge>
          </ion-col>
      </ion-row>
  </ion-grid>
</div>

</ion-content>

<ion-footer>
  <form [formGroup]="ScanReader" class ="alignBottom" *ngIf="hide_scan_form">
    <ion-item>
      <ion-label color="primary" item-start>Scan: </ion-label>
      <ion-input #scan [formControl]="ScanReader.controls['scan']" type="text" name="scan" placeholder = "Scan" ></ion-input>
      <button ion-button icon-only item-end clear (click)="submitScan()">
        <ion-icon name="barcode"></ion-icon>
      </button>
    </ion-item>   
  </form>
</ion-footer>

