<!--
  Generated template for the MoveLineFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{move_data && move_data['product_short_name'] || 'Líneas' }}</ion-title>
  <ion-buttons end>
  <button ion-button icon-only item-end (click)="lee_form()">
    <ion-icon name="megaphone"></ion-icon>
  </button>
  <button ion-button icon-only item-end (click)="change_escuchando()">
    <ion-icon *ngIf="escuchando" name="mic"></ion-icon>
    <ion-icon *ngIf="!escuchando" name="mic-off"></ion-icon>
  </button>
    
    <button ion-button icon-only item-end (click)="toggle_scan_form()" color="primary">
    <ion-icon name="barcode"></ion-icon>
  </button>
  </ion-buttons>
</ion-navbar>
   
</ion-header>


<ion-content padding>
  <div>
    <ion-item no-lines>
      <button ion-button item-start (click)="open_line(-1)">
        <<
      </button>
      <button ion-button item-start (click)="backToPickingForm(true, 0)">
        Volver
      </button>
      <button ion-button item-end (click)="qty_done_to_zero()">
        <ion-icon name="refresh"></ion-icon>
      </button>
      <button ion-button item-end (click)="previous_step()">
        <ion-icon name="undo"></ion-icon>
      </button>
      <button ion-button item-end (click)="open_line(1)">
        >>
      </button>
    </ion-item>
  </div>

  <div *ngIf="move_data">
    <ion-card>
      <ion-card-header>
        
      </ion-card-header>
      <ion-card-content>
        <!-- Para ocultar la primera lista basta con ponerle que sólo se muestre para valores de step menores a tres: *ngIf="3 > step"  -->
        <ion-list>
          <span *ngIf="move_data['package_id'] && step < 1" [ngClass]="{'red-icon': pkg_error, 'green-icon': package_origin_confirm}">
            <a (click)="scan_read(move_data['package_id'][1])">
              <strong>Paquete:</strong> {{ move_data['package_id'][1] }}<br/>
            </a>
          </span>
          <span *ngIf="move_data['package_id'] && step >= 1" [ngClass]="{'red-icon': pkg_error, 'green-icon': package_origin_confirm}">
            <strong>Paquete:</strong> {{ move_data['package_id'][1] }}<br/>
          </span>
          <span *ngIf="move_data['location_id']" [ngClass]="{'red-icon': location_error, 'green-icon': original_location_barcode, 'orange-icon': new_origin_location_id}">
            <strong>Origen:</strong> {{ move_data['original_location_short_name'] || move_data['location_id'][1] }}<br/>
          </span>
        </ion-list>

        <ion-list *ngIf="(move_data['lot_name'] || move_data['lot_id']) && step >= 3">
          <span *ngIf="move_data['lot_name']" [ngClass]="{'red-icon': product_error, 'green-icon': product_barcode}">
            <strong>Lote:</strong> {{ move_data['lot_name'] }}<br/>
          </span>
          <span *ngIf="!move_data['lot_name']" [ngClass]="{'red-icon': product_error, 'green-icon': product_barcode}">
              <strong>Lote:</strong> {{ move_data['lot_id'][1] }}<br/>
          </span>
          <span [ngClass]="{'red-icon': product_error, 'green-icon': product_barcode}">
            <strong>Producto:</strong> {{ move_data['product_short_name'] || move_data['product_id'][2] || move_data['display_name'] }}<br/>
          </span>
          <span *ngIf="move_data['product_qty'] && step != 2" [ngClass]="{'red-icon': qty_error, 'green-icon': product_qty_confirmed, 'orange-icon': new_product_qt}">
            <strong>Cantidad:</strong> {{ move_data['product_qty'] }}<br/>
          </span>
        </ion-list>        

        <ion-list *ngIf="(move_data['lot_name'] || move_data['lot_id']) && step < 3">
          <span *ngIf="move_data['lot_name'] && step == 1" [ngClass]="{'red-icon': product_error, 'green-icon': product_barcode}">
            <a (click)="check_product_code(move_data['lot_name'],1)">
                <strong>Lote:</strong> {{ move_data['lot_name'] }}<br/>
            </a>
          </span>
          <span *ngIf="!move_data['lot_name'] && step == 1" [ngClass]="{'red-icon': product_error, 'green-icon': product_barcode}">
            <a (click)="check_product_code(move_data['lot_id'][1],1)">
              <strong>Lote:</strong> {{ move_data['lot_id'][1] }}<br/>
            </a>
          </span>

          <span *ngIf="move_data['lot_name'] && step != 1" [ngClass]="{'red-icon': product_error, 'green-icon': product_barcode}">
            <strong>Lote:</strong> {{ move_data['lot_name'] }}<br/>
          </span>
          <span *ngIf="!move_data['lot_name'] && step != 1" [ngClass]="{'red-icon': product_error, 'green-icon': product_barcode}">
            <strong>Lote:</strong> {{ move_data['lot_id'][1] }}<br/>
          </span>


          <span [ngClass]="{'red-icon': product_error, 'green-icon': product_barcode}">
            <strong>Producto:</strong> {{ move_data['product_short_name'] || move_data['product_id'][2] || move_data['display_name'] }}<br/>
          </span>
          <span *ngIf="move_data['product_qty'] && move_data['lot_id'] && step == 2" [ngClass]="{'red-icon': qty_error, 'green-icon': product_qty_confirmed, 'orange-icon': new_product_qt}">
            <a (click)="check_product_code(move_data['lot_id'][1], 2)">
              <strong>Cantidad:</strong> {{ move_data['product_qty'] }}<br/>
            </a>
          </span>
          <span *ngIf="move_data['product_qty'] && !move_data['lot_id'] && step == 2" [ngClass]="{'red-icon': qty_error, 'green-icon': product_qty_confirmed, 'orange-icon': new_product_qt}">
            <a (click)="check_product_code(move_data['lot_name'], 2)">
              <strong>Cantidad:</strong> {{ move_data['product_qty'] }}<br/>
            </a>
          </span>
          <span *ngIf="move_data['product_qty'] && step != 2" [ngClass]="{'red-icon': qty_error, 'green-icon': product_qty_confirmed, 'orange-icon': new_product_qt}">
              <strong>Cantidad:</strong> {{ move_data['product_qty'] }}<br/>
          </span>
        </ion-list>

        <ion-list *ngIf="!move_data['lot_name'] && !move_data['lot_id']">
          <span *ngIf="move_data['product_barcode']" [ngClass]="{'red-icon': product_error, 'green-icon': product_barcode}">
            <strong>Código de barras:</strong> {{ move_data['product_barcode'] }}<br/>
          </span>
          <span *ngIf="!move_data['product_barcode'] && move_data['default_code']" [ngClass]="{'red-icon': product_error, 'green-icon': product_barcode}">
            <strong>Código por defecto:</strong> {{ move_data['default_code'] }}<br/>
          </span>
          <span *ngIf="move_data['product_id'] && (step == 1 && !product_need_check) && move_data['product_barcode']" [ngClass]="{'red-icon': product_error, 'green-icon': product_barcode}">
            <a (click)="check_product_code(move_data['product_barcode'], 1)">
              <strong>Producto:</strong> {{ move_data['product_short_name'] || move_data['product_id'][2] || move_data['display_name'] }}<br/>
            </a>
          </span>
          <span *ngIf="move_data['product_id'] && (step == 1 && !product_need_check) && !move_data['product_barcode']" [ngClass]="{'red-icon': product_error, 'green-icon': product_barcode}">
            <a (click)="check_product_code(move_data['default_code'], 1)">
              <strong>Producto:</strong> {{ move_data['product_short_name'] || move_data['product_id'][2] || move_data['display_name'] }}<br/>
            </a>
          </span>
          <span *ngIf="move_data['product_id'] && (step != 1 || product_need_check)" [ngClass]="{'red-icon': product_error, 'green-icon': product_barcode}">
            <strong>Producto:</strong> {{ move_data['product_short_name'] || move_data['product_id'][2] || move_data['display_name'] }}<br/>
          </span>
          <span *ngIf="move_data['product_qty'] && move_data['product_barcode']  && step == 2" [ngClass]="{'red-icon': qty_error, 'green-icon': product_qty_confirmed, 'orange-icon': new_product_qt}">
            <a (click)="check_product_code(move_data['product_barcode'], 2)">
              <strong>Cantidad:</strong> {{ move_data['product_qty'] }}<br/>
            </a>
          </span>
          <span *ngIf="move_data['product_qty'] && !move_data['product_barcode'] && step == 2" [ngClass]="{'red-icon': qty_error, 'green-icon': product_qty_confirmed, 'orange-icon': new_product_qt}">
            <a (click)="check_product_code(move_data['default_code'], 2)">
              <strong>Cantidad:</strong> {{ move_data['product_qty'] }}<br/>
            </a>
          </span>
          <span *ngIf="move_data['product_qty'] && step != 2" [ngClass]="{'red-icon': qty_error, 'green-icon': product_qty_confirmed, 'orange-icon': new_product_qt}">
              <strong>Cantidad:</strong> {{ move_data['product_qty'] }}<br/>
          </span>
        </ion-list>

        <ion-list *ngIf="step == 3 || step == 4">
            <span *ngIf="change_location" [ngClass]="{'orange-icon': change_location}">
              <strong>Destino:</strong> {{ new_location['location_name'] }}<br/>
            </span>
            <span *ngIf="!change_location && move_data['location_dest_id']" [ngClass]="{'red-icon': location_dest_error, 'green-icon': location_barcode, 'orange-icon': change_location}">
              <strong>Destino:</strong> {{ move_data['final_location_short_name'] || move_data['location_dest_id'][1] }}<br/>
            </span>
            <span *ngIf="move_data['result_package_id']">
              <strong>Paquete Destino:</strong> {{ move_data['result_package_id'][1] }}<br/>
            </span>
            <!-- <ion-item class="package-checker" *ngIf="!move_data['result_package_id']">
                <ion-label><strong>Nuevo paquete:</strong></ion-label> 
                <ion-toggle item-end *ngIf="!new_package" checked="false" (ionChange)="save_new_package(true)"></ion-toggle>
                <ion-toggle item-end *ngIf="new_package" checked="true" (ionChange)="save_new_package(false)"></ion-toggle>
            </ion-item> -->
            <ion-item *ngIf="step == 4">
              <span item-start>
                Repita la última lectura para confirmar.
              </span>
              <span item-end>
                <button ion-button item-start (click)="manual_confirm()">
                  Ok
                </button>
              </span>
            </ion-item>
        </ion-list>
        <ion-list *ngIf="step >= 5">
          <span *ngIf="!input_error">
            Actualizando datos.
          </span>
          <span *ngIf="input_error" class="red-icon">
              No se puede completar la operación, contacte con su administrador.
            </span>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>


<ion-footer>
  <form [formGroup]="ScanReader" class ="alignBottom" *ngIf="hide_scan_form">
    <ion-item>
      <ion-label color="primary" item-start>Scan: </ion-label>
      <ion-input #scan [formControl]="ScanReader.controls['scan']" type="text" name="scan" placeholder = "Scan" ></ion-input>
      <button ion-button icon-only item-end clear (click)="submitScan(ScanReader.value)">
        <ion-icon name="barcode"></ion-icon>
      </button>
    </ion-item>   
  </form>
</ion-footer>
