// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app. 

.delayed_0 {
    color:  color($colors, done);;
}
.delayed_1 {
    color:  color($colors, warning);;
}
.delayed_2 {
    color:  color($colors, danger);;
}

.item_assigned {
    color: color($colors, assigned);
}
.item_error {
    color: color($colors, error);
}
.item_warning {
    color: color($colors, warning);
}
.item_done{
    color: color($colors, done);
}
.item_waiting {
    color: color($colors, waiting);
}
.item_cancel {
    color: color($colors, cancel)
}

.no-margin {
    padding: 0px;
}
.no-padding {
    padding: 0px;
}

ion-badge {
    padding: 4px;
    margin: 4px;
}
.all0 {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.w100{
    width: 100%;
    
}
.w75{
    width: 75%;
    
}
.w50{
    width: 50%;
    
}
.w33{
    width: 33%;
    
}

.w25{
    width: 25%;
}
.w20{
    width: 20%;
}
.item-block{
    min-height: 1.5rem;
}
.centrado{
    margin-left: auto;
    margin-right: auto;
    display: block !important;
  }

.action-sheets-move-page {
  .alert_state_error {    
    color: color($colors, error);
    }
  .alert_state_done {
    color: color($colors, done);
  }
  .alert_state_back {
    color: color($colors, odoo);
  }
  .alert_state {
    color: color($colors, odoo);
  }
}
.ion-icon{
    
    .package {
    color:  color($colors, package);
    }
    .lot {    
    color:  color($colors, lot);
    }
    .product {
    color:  color($colors, product);
    }
    .location {
    color:  color($colors, location);
    }
    .verform {
    color:  color($colors, odoo);
    }
  }
move-line{
    .small {
        margin: 0px;
        border: 1px;
        padding: 2px;
    }
}

  
